doctype html
html
    head
        meta(charset="utf-8")
        meta(name="description", content="")
        meta(name="HandheldFriendly", content="True")
        meta(name="MobileOptimized", content="320")
        meta(name="viewport", content="width=device-width, initial-scale=1, minimal-ui")
        meta(http-equiv="cleartype", content="on")
        title
            block title
                | Datum Ipsum
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/c3/0.4.11/c3.min.css")
        link(rel="stylesheet", href="https://fonts.googleapis.com/css?family=Rubik:400,700")
        link(rel="stylesheet", href="styles/main.css")
        block head
          //- Additional head content (scripts, styles.

body
    block content

    script(src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js")
    script(src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.17/d3.min.js")
    script(src="scripts/bundle.js")
    script.
        !function(e,t,a,n,c,s,o){e.GoogleAnalyticsObject=c,e[c]=e[c]||function(){(e[c].q=e[c].q||[]).push(arguments)},e[c].l=1*new Date,s=t.createElement(a),o=t.getElementsByTagName(a)[0],s.async=1,s.src=n,o.parentNode.insertBefore(s,o)}(window,document,"script","https://www.google-analytics.com/analytics.js","ga"),ga("create","UA-43766713-5","auto"),ga("send","pageview");
    block scripts
      //- Additional scripts.
