.button {
    font-family: $sans;
    padding: 0.25rem 1rem 0.3rem;
    background: $gray-lighter;
    color: $black;
    border-color: darken($gray-lighter, 5%);
    border-radius: $corner-radius;
    text-decoration: none;
    text-align: center;
    border: 2px solid;

    &:hover {
        cursor: pointer;
        background: lighten($gray-lighter, 2.5%);
    }

    + .button {
        margin-left: 1em;
    }
}

.button--primary {
    background: $blue;
    border-color: $blue;
    color: $white;

    &:hover {
        background: lighten($blue, 2.5%);
    }
}

.button--secondary {
    background: transparent;
    border-color: $blue;
    border: 2px solid;
    color: $blue;
}

.button--warning {
    background: $red;
    border-color: $red;
    color: $white;

    &:hover {
        background: lighten($red, 2.5%);
    }
}

.button--action {
    background: $green;
    border-color: $green;
    color: $white;

    &:hover {
        background: lighten($green, 2.5%);
    }
}
