.graph {
    max-height: 80rem;
    background: $white;
    border-radius: 3px;

    svg {
        margin: 20px 0;
    }

    .line {
        fill: none;
        stroke: $blue;
        stroke-width: 2px;
    }
}
