/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    min-height: 100vh;
    background: lighten($green, 45%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.logo {
    h1 {
        font-size: 2rem;
    }

    p {
        margin: 0.25rem 0;
        color: rgba(0, 0, 0, 0.4);
    }
}

.content {
    height: 70vh;
}

.header {
    margin: 2rem 0 1rem;
}

.info {
    flex: auto;
}

.globals {

    label {
        display: flex;
    }

    input,
    label {
        margin-bottom: 0;
    }

    input,
    label,
    .button {
        flex: 0 1 auto;
    }

    input {
        margin: 0 0.5rem;
    }
}
