/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    min-height: 100vh;
    background: lighten($gray, 38%);
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.outter {
    height: 100%;
}

.logo {
    margin-left: 1rem;
    h1 {
        font-size: 2rem;
    }

    p {
        margin: 0.25rem 0;
        color: rgba(0, 0, 0, 0.4);
    }
}

.content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.globals {

    span {
        display: flex;
    }

    input {
        margin: 0;
        color: $black;
        border: 0;
        padding: 0.25rem;
    }

    .button {
        margin-left: 0.5rem;
        flex: 1 0 auto;
    }
}

.header {
    flex: 0 1 auto;
    padding: 1rem 0.5rem 0.5rem;
}

.main {
    flex: 1 0 auto;
    padding: 0.5rem;
}

.footer {
    flex: 0 1 auto;
    padding: 0.5rem 0.5rem 1rem;
}

.globals--buttons {
    display: flex;
    flex-flow: row-reverse;

    .button {
        flex: 0 1 auto;
        margin-left: 1rem;
    }
}
